/* estilização do footer da página, onde cria o fundo e o espaçamento para o conteúdo do footer */
.footer {
	background-color: rgba(135, 99, 56, 0.45);
}
.footer p {
	padding: 12px 0;
}


/* criando uma estilização da tag a para que quando se passe o mouse sobre a tag a, ela coloque um sublinhado idicando ser um texto com hyperlink */
.footer-link {
	position: relative;
	display: inline-block;
}

.footer-link::before {
	content: '';
	display: inline-block;
	background: var(--t2);
	height: 3px;
	width: 0;
	border-radius: 2px;
	top: 22px;
	transition: width 0.2s;
	position: absolute;
}

.footer-link:hover::before {
	width: 100%;
}
