/* classe para criar o fundo do header */
.header-bg {
	background-color: rgba(210, 166, 111, 0.5);
	backdrop-filter: blur(10px);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}

/* classe para criar o espaçamento entre a logo e o ul */
.header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}

/* classe para criar o espaçamento entre os elemtentos do ul */
.header-menu {
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
}

/* classe para para aumentar o tamanho da distância do clique da tag a */
.header-menu a {
	padding: 16px 0px;
	display: inline-block;
	position: relative;
}

/* classe para criar uma animação quando o mouse estiver sobre uma das âncoras, surgir um elemento ao lado do texto, simbolizando que é um elemento interativo */
.header-menu a::before {
	position: absolute;
	content: '';
	background-color: var(--t2);
	top: 19px;
	left: -12px;
	height: 0%;
	width: 4px;
	border-radius: 2px;
	transition: 0.2s;
}

.header-menu a:hover::before {
	height: 30px;
}
