.container {
	box-sizing: border-box;
	max-width: 1200px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}

.container-icons {
	display: flex;
	gap: 60px;
	width: 120px;
	height: 120px;
}

.margin-top-260px {
	margin-top: 260px;
}

.margin-top-80px {
	margin-top: 80px;
}

.margin-top-60px {
	margin-top: 60px;
}

.margin-top-40px {
	margin-top: 40px;
}

.detail {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 10px;
	background: linear-gradient(90deg, #f27244 0%, #f7b277 33%, #f2ca99 100%);
	border-radius: 4px;
}

button {
	padding: 16px 32px;
	margin-top: 16px;
	background: linear-gradient(180deg, #48afae 0%, #349897 100%);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	border: none;
	border-radius: 5px;
}

button:hover {
	background: linear-gradient(180deg, #48afae 0%, #2aabaa 100%);
}
