.intro {
	display: grid;
	grid-template-columns: 4fr 7fr;
	gap: 0px 40px;
	margin-top: 260px;
	justify-items: center;
}

.intro img {
	height: 360px;
	width: 360px;
	object-fit: cover;
}

.intro-texto {
	width: 12ch;
	align-self: center;
}
