.section {
	display: grid;
	grid-template-columns: 4fr 6fr;
	gap: 0px 40px;
	align-items: center;
}

.section img {
	height: 360px;
	width: 360px;
	object-fit: cover;
}

.section-text {
	width: 42ch;
}
